
.w3l-main-banner h3.banner-text {
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: var(--title-color); }

.w3l-main-banner .banner-info p {
    font-size: 18px;
    color: var(--text-color);
    display: inline-block;
    line-height: 28px;
    max-width: 650px; }

.w3l-main-banner .banner-slider {
    position: relative;
    z-index: 1; }

.w3l-main-banner .companies-wrapper {
    background: rgba(254, 146, 64, 0.05); }

.w3l-main-banner .banner-view {
    background: url(../images/banner.png) no-repeat right;
    background-size: contain;
    min-height: 700px;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center; }

.w3l-main-banner .banner-view:before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1; }

@media (max-width: 1280px) {
    .w3l-main-banner .banner-view {
        min-height: 650px; } }

@media (max-width: 992px) {
    .w3l-main-banner h3.gallery4-head {
        font-size: 30px;
        line-height: 37px; }
    .w3l-main-banner h3.banner-text {
        font-size: 45px;
        line-height: 58px; }
    .w3l-main-banner .banner-top-inner-page {
        min-height: 180px; } }

@media (max-width: 991px) {
    .w3l-main-banner .banner-view {
        min-height: 600px; } }

@media (max-width: 900px) {
    .w3l-main-banner h3.banner-text {
        font-size: 40px;
        line-height: 55px; }
    .w3l-main-banner .banner-top-inner-page {
        min-height: 150px; } }

@media (max-width: 768px) {
    .w3l-main-banner .banner-view:before {
        background: rgba(255, 255, 255, 0.58);
        margin-left: -25px;
        margin-right: -25px; } }

@media (max-width: 600px) {
    .w3l-main-banner h3.gallery4-head {
        margin-bottom: 20px; }
    .w3l-main-banner .banner-view {
        min-height: 550px; } }

@media (max-width: 576px) {
    .w3l-main-banner .banner-view:before {
        background: rgba(255, 255, 255, 0.58);
        margin-left: -15px;
        margin-right: -15px; } }

@media (max-width: 569px) {
    .w3l-main-banner h3.gallery4-head {
        font-size: 26px;
        line-height: 34px; }
    .w3l-main-banner h3.banner-text {
        font-size: 32px;
        line-height: 40px; }
    .w3l-main-banner .banner-view {
        min-height: 420px; }
    .w3l-main-banner .banner-top-inner-page {
        min-height: 120px; } }

@media (max-width: 500px) {
    .w3l-main-banner .banner-info p {
        font-size: 16px;
        line-height: 24px; }
    .w3l-main-banner .banner-view {
        min-height: 340px; } }

@media (max-width: 440px) {
    .w3l-main-banner h3.banner-text {
        font-size: 26px;
        line-height: 32px; } }

@media (max-width: 380px) {
    .w3l-main-banner .banner-view {
        min-height: 320px; } }


.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase; }

@media screen and (max-width: 384px) {
    .theme-button {
        line-height: 44px;
        padding: 0px 20px; } }

button,
.btn,
select {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif; }

a,
a:hover {
    text-decoration: none; }




.w3l-index5 .new-block {
    display: grid;
    align-items: center;
    padding: 2rem 0; }

.w3l-index5 .list-single-view {
    max-width: 800px;
    margin: 0 auto; }

.w3l-index5 .list-single-view .grids5-info {
    display: grid;
    grid-template-columns: 50% 50%; }

.w3l-index5 .list-single-view .grids5-info h4 {
    font-size: 24px;
    line-height: 32px;
    color: var(--title-color);
    display: block;
    font-weight: 600; }

.w3l-index5 .list-single-view .blog-info {
    padding: 30px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }

.w3l-index5 .list-single-view .grids5-info p {
    margin-top: 15px;
    line-height: 25px;
    color: var(--text-color); }

.w3l-index5 .list-single-view p.date {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 14px;
    color: var(--primary);
    font-weight: 600; }

.w3l-index5 .list-single-view img.news-image {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }

@media all and (max-width: 991px) {
    .w3l-index5 .list-single-view .grids5-info {
        grid-template-columns: 100%; }
    .w3l-index5 .list-single-view img.news-image, .w3l-index5 .list-single-view a.zoom {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0px; } }

@media all and (max-width: 736px) {
    .w3l-index5 .list-single-view .blog-info {
        padding: 15px; } }

.w3l-index5 .grids5-info {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in;
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eeeeee; }

.w3l-index5 a.zoom {
    overflow: hidden;
    border-top-left-radius: var(--card-curve);
    border-bottom-left-radius: var(--card-curve); }

.w3l-index5 a.zoom img {
    transition: 0.3s ease-in-out; }

.w3l-index5 a.zoom img:hover {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out; }

.w3l-index5 .blog-info {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }

@media all and (max-width: 1280px) {
    .w3l-index5 .d-grid {
        grid-gap: 15px; } }

@media all and (max-width: 1080px) {
    .w3l-index5 .d-grid {
        grid-template-columns: 1fr 1fr; } }

@media all and (max-width: 991px) {
    .w3l-index5 .list-single-view {
        max-width: 600px;
        margin: 0 auto; } }

@media all and (max-width: 800px) {
    .w3l-index5 .d-grid {
        grid-gap: 30px; } }

@media all and (max-width: 768px) {
    .w3l-index5 .grids5-info h4 {
        font-size: 20px;
        line-height: 25px; } }

@media all and (max-width: 668px) {
    .w3l-index5 .d-grid {
        grid-template-columns: 1fr; } }

@media all and (max-width: 568px) {
    .w3l-index5 .d-grid {
        grid-template-columns: 1fr; }
    .w3l-index5 .grids5-info p {
        margin-top: 12px; } }

@media all and (max-width: 414px) {
    .w3l-index5 .grids5-info h4 {
        font-size: 23px; } }

@media all and (max-width: 384px) {
    .w3l-index5 .grids5-info h4 {
        font-size: 22px; } }

/*-- stats --*/
.w3l-stats {
    background: url(../images/stat.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed; }

.w3l-stats:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.6);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1; }

.stats_info p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0; }

.stats_info h4 {
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    color: #eee;
    margin-top: 10px; }

.stats_info span.fa {
    font-size: 2.5em;
    color: var(--primary);
    margin: 0; }

.stats_bottom_grid_left img {
    margin: 0 auto; }

.stats_info {
    text-align: center;
    padding: 0;
    border-top: none;
    border-bottom: none; }

.stats_info:nth-child(3) {
    border-right: 0px; }

.stats_info:nth-child(2) {
    border-left: 0px;
    border-right: 0px; }

@media (max-width: 992px) {
    .stats_info p {
        font-size: 40px;
        line-height: 50px; }
    .stats_info h4 {
        font-size: 16px; } }

@media (max-width: 737px) {
    .stats_info {
        padding: 0 5px !important; }
    .stats_info h4 {
        font-size: 17px; } }

@media (max-width: 415px) {
    .stats_info span.fa {
        font-size: 2em; } }

/*--//stats--*/

.header-section p {
    max-width: 750px;
    margin: 0 auto; }

.header-section h3 {
    color: var(--title-color);
    font-size: 45px;
    line-height: 55px;
    font-weight: 500; }

.header-section p {
    color: var(--text-color);
    font-size: 22px;
    line-height: 34px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto; }

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
* {
    box-sizing: border-box;
}
.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
@media (min-width: 768px)
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
    }



    .instructors-heading {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 15px;
        gap: 20px;
    }
    .instructors-heading .instructors-img {
        width: 100px;
    }

    .course-instructors {
        padding: 25px 30px 25px 30px;
        background: #fcfdff;
        border: 1px solid #edeef2;
        border-radius: 5px;
    }

    .instructors-img img {
        margin-bottom: 5px;
    }

    .course-instructors h3 {
        margin-bottom: 20px;
        text-transform: capitalize;
    }

    .intructors-content p {
        margin-bottom: 0;
        font-size: initial;
    }
    }

    @media (max-width: 575px), only screen and (min-width: 576px) and (max-width: 767px) {
        .instructors-body {
            margin-bottom: 10px;
        }
    }
    .instructors-body h5 {
        margin-bottom: 0px;
    }

    .intructors-review {
        padding: 4px 0 10px;
    }
    .intructors-review i {
        color: #FFB013;
        font-size: 13px;
    }

    .instructors-footer span {
        margin-right: 25px;
    }
    .instructors-footer i {
        margin-right: 5px;
    }
.inline{
    display: inline;
}
