<!--
author: Tamzid
Github URL: https://github.com/Tamzid19597
-->
<!DOCTYPE html>
<html>

<head>
    <title>Verse|Profile</title>
    <link rel="icon" href="images/VLogo.png">
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/modified.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/Mystyle.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- end-smoth-scrolling -->
</head>

<body>
<!-- header -->
<div class="agileits_header">
    <div class="container">
        <div class="w3l_offers">
            <p>Ver<a href="http://localhost:8080/home">se</a></p>
        </div>
        <div class="agile-login">
            <ul>
                <li><a href="http://localhost:8080/register"> Create Account </a></li>
                <li><a href="http://localhost:8080/login">Login</a></li>
                <li><a href="http://localhost:8080/contact">Help</a></li>

            </ul>
        </div>
        <div class="product_list_header">
            <form action="#" method="post" class="last" th:action="@{/postProfile}" th:object="${profile}">
                <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-user" aria-hidden="true"></i></button>
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<div class="logo_products">
    <div class="container">
        <div class="w3ls_logo_products_left1">
            <ul class="phone_email">
                <li><i class="fa fa-phone" aria-hidden="true"></i>Contact us : (+880)1959-752029</li>

            </ul>
        </div>
        <div class="w3ls_logo_products_left">
            <img src="images/VLogo.png" alt=" " class="My-img-responsive">
        </div>


        <div class="w3l_search">
            <form method="post" th:action="@{/postSearch}" th:object="${navigation}">
                <!--                    <input type="search" name="Search" placeholder="Search for a Product...">-->

                <input type="search"  name="Search" th:field="*{flag}" placeholder="Search for a Course..."/>
                <button type="submit" class="btn btn-default search" aria-label="Left Align">
                    <i class="fa fa-search" aria-hidden="true"> </i>
                </button>
            </form>
            <div class="clearfix"></div>
        </div>


        <div class="clearfix"> </div>
    </div>
</div>
<!-- //header -->
<!-- navigation -->
<div class="navigation-agileits">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="http://localhost:8080/home" class="act"><b>Home</b></a></li>
                    <!-- Mega Menu -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Web Development</b><b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>Web Development</h6>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${JavaScripts}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">JavaScripts</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${React}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">React</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${CSS}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">CSS</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${HTML5}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">HTML5</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${PHP}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">PHP</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${Django}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">Django</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${Angular}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">Angular</button>
                                        </form>
                                    </ul>
                                </div>

                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Data Science</b><b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>Data Science</h6>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${Python}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">Python</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${MachineLearning}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">MachineLearning</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${DeepLearning}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">DeepLearning</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${AI}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">AI</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${R}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">R</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${NLP}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">NLP</button>
                                        </form>
                                    </ul>
                                </div>


                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Mobile Development</b><b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>Mobile Developement</h6>

                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${Flutter}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">Flutter</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${ReactNative}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">ReactNative</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${Android}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">Android</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${IOS}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">IOS</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${weldingmachine}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">Swift</button>
                                        </form>
                                    </ul>
                                </div>

                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Programming Languages</b><b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>Programming Languages</h6>

                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${Java}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">Java</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${Python}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">Python</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${CSharp}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">C#</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${CPlus}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">C++</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${JavaScript}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">JavaScript</button>
                                        </form>
                                    </ul>
                                </div>


                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Graphic Design</b><b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>Graphic Design</h6>

                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${Photoshop}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">Photoshop</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${AdobeLightroom}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">AdobeLightroom</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${ColorGrading}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">ColorGrading</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${sound}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">DaVinciResolve</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${Animation}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">Animation</button>
                                        </form>
                                        <form method="post" th:action="@{/postNavigation}" th:object="${navigation}">
                                            <input type="hidden" th:value="${Cinematography}" th:attr="name='flag'"/>
                                            <button class="w3view-cart" type="submit">Cinematography</button>
                                        </form>
                                    </ul>
                                </div>

                            </div>
                        </ul>
                    </li>
                    <!--                        <li><a href="http://localhost:8080/contact">Contact</a></li>-->
                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- //navigation -->
    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="http://localhost:8080/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li class="active">Profile Page</li>
            </ol>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <div class="main-content">
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(#); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white" th:text="'Hello, '+${profile.getName()}"></h1>
                        <p class="text-white mt-0 mb-5">This is your profile page. You can see the  courses you've enrolled  and manage your profiles or courses instantly</p>
                        <form method="post" th:action="@{/postYourdeals}" th:object="${navigation}">
                            <input type="submit" value="Enrolled Courses" class="button btn btn-info"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="images/VLogo.png" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                                <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                            </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
<!--                            <div class="row">-->
<!--                                <div class="col">-->
<!--                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">-->
<!--                                        <div>-->
<!--                                            <span class="heading">22</span>-->
<!--                                            <span class="description">Friends</span>-->
<!--                                        </div>-->
<!--                                        <div>-->
<!--                                            <span class="heading">10</span>-->
<!--                                            <span class="description">Photos</span>-->
<!--                                        </div>-->
<!--                                        <div>-->
<!--                                            <span class="heading">89</span>-->
<!--                                            <span class="description">Comments</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="text-center">
                                <h3>
                                    Verse<span class="font-weight-light">,Rd-27ABc</span>
                                </h3>
                                <div class="h5 font-weight-300">
                                    <i class="ni location_pin mr-2"></i>Uttara, Dhaka
                                </div>
                                <div class="h5 mt-4">
                                    <i class="ni business_briefcase-24 mr-2"></i>Communication Manager - Conversation Team
                                </div>
                                <div>
                                    <i class="ni education_hat mr-2"></i>Executive of Verse
                                </div>
                                <hr class="my-4">
                                <p>Contact to us anytime from anywhere for anything......</p>
                                <a href="#">Show more</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-8 order-xl-1">
                    <form  method="post"  action="action_page.php" th:action="@{/postEdit}" th:object="${profile}">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">My account</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <input type="submit" value="Edit" class="button btn btn-info"/>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <h6 class="heading-small text-muted mb-4">User information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-username">Username</label>
                                                <input type="text" id="input-username" class="form-control form-control-alternative" th:placeholder="${profile.getName()}" th:field="*{name}" required=" ">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Email address</label>
                                                <input type="email" id="input-email" class="form-control form-control-alternative" th:placeholder="${profile.getEmail()}">
                                                <input type="hidden" th:value="${profile.getEmail()}" th:attr="name='email'"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-first-name">Primary Number</label>
                                                <input type="text" id="input-first-name" class="form-control form-control-alternative"  th:placeholder="${profile.getPrimarynumber()}" th:field="*{primarynumber}" required=" ">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-last-name">Secondary Number</label>
                                                <input type="text" id="input-last-name" class="form-control form-control-alternative" th:placeholder="${profile.getSecondarynumber()}" th:field="*{secondarynumber}" required=" ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <!-- Address -->
                                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-address">Address</label>
                                                <input id="input-address" type="text" class="form-control form-control-alternative" th:placeholder="${profile.getAddress()}" th:field="*{address}" required=" ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-city">City</label>
                                                <input type="text" id="input-city" class="form-control form-control-alternative" th:placeholder="${profile.getCity()}" th:field="*{city}" required=" ">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-country">Country</label>
                                                <input type="text" id="input-country" class="form-control form-control-alternative" th:placeholder="${profile.getCountry()}" th:field="*{country}" required=" ">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-country">Postal code</label>
                                                <input type="text" id="input-postal-code" class="form-control form-control-alternative" th:placeholder="${profile.getPostalcode()}" th:field="*{postalcode}" required=" ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <!-- Description -->
                                <h6 class="heading-small text-muted mb-4">About me</h6>
                                <div class="pl-lg-4">
                                    <div class="form-group focused">
                                        <label>About Me</label>
                                        <textarea rows="4" class="form-control form-control-alternative" th:placeholder="${profile.getAbout()}" th:field="*{about}" required=" "></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
                    <form  method="post"  action="action_page.php" th:action="@{/postLogout}" th:object="${profile}">
                        <input type="submit" value="Log Out" class="button btn btn-info"/>
                    </form>
                </div>



            </div>

        </div>
        <br><br>
    </div>

<!-- //footer -->
<div class="footer">
    <div class="container">
        <div class="w3_footer_grids">
            <div class="col-md-3 w3_footer_grid">
                <h3>Contact</h3>

                <ul class="address">
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>Uttara,Dhaka.</span></li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@easyrent.com">info@verse.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+880 1959 752029</li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Information</h3>
                <ul class="info">
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="http://localhost:8080/contact">About Us</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="http://localhost:8080/contact">Contact Us</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="http://localhost:8080/faq">FAQ's</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Associates</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Category</h3>
                <ul class="info">
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="http://localhost:8080/services">Web Development</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="http://localhost:8080/services">Mobile Development</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="http://localhost:8080/services">Data Science</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="http://localhost:8080/services">Programming Languages</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="http://localhost:8080/services">Graphic Design</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Profile</h3>
                <ul class="info">
                    <li>
                        <form action="#" method="post" class="last" th:action="@{/postProfile}" th:object="${profile}">
                            <!--                    <input type="hidden" name="cmd" value="_cart">-->
                            <!--                    <input type="hidden" name="display" value="1">-->
                            <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-user" aria-hidden="true"></i></button>
                        </form>
                    </li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="http://localhost:8080/services">Courses</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="http://localhost:8080/login">Login</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="http://localhost:8080/register">Create Account</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="footer-copy">

        <div class="container">
            <p>© 2022 Verse. All rights reserved | Design by <a href="#">Verse-Team</a></p>
        </div>
    </div>

</div>
<div class="footer-botm">
    <div class="container">
        <div class="w3layouts-foot">
            <ul>
                <li><a href="https://www.facebook.com/abumauze.tamzidkhan/" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/TamzidKhan_0" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/Tamzid19597" class="w3_agile_dribble"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/watch?v=Ix9NXVIbm2A" class="w3_agile_vimeo"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="payment-w3ls">
            <img src="images/card.png" alt=" " class="img-responsive">
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- top-header and slider -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.min.js"></script>
<script>
    // Mini Cart
    paypal.minicart.render({
        action: '#'
    });

    if (~window.location.search.indexOf('reset=true')) {
        paypal.minicart.reset();
    }
</script>
<!-- main slider-banner -->
<script src="js/skdslider.min.js"></script>
<link href="css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#demo1').skdslider({
            'delay': 1500,
            'animationSpeed': 2000,
            'showNextPrev': true,
            'showPlayButton': true,
            'autoSlide': true,
            'animationType': 'fading'
        });

        jQuery('#responsive').change(function() {
            $('#responsive_wrapper').width(jQuery(this).val());
        });

    });
</script>
<!-- //main slider-banner -->
</body>

</html>